{
  "openapi": "3.1.0",
  "info": {
    "title": "LastMinuteDeals Execution API",
    "description": "Execution infrastructure for AI agents booking real-world services. Intent-to-confirmation pipeline: search \u2192 decide \u2192 guarantee \u2192 confirm. Multi-path retry engine, pre-funded wallets, delegated intent sessions, market intelligence. Card authorized (not charged) until booking confirmed on source platform.",
    "version": "1.0.0",
    "contact": {
      "name": "LastMinuteDeals",
      "url": "https://lastminutedealshq.com"
    }
  },
  "servers": [
    {
      "url": "https://api.lastminutedealshq.com",
      "description": "Booking API"
    }
  ],
  "paths": {
    "/slots": {
      "get": {
        "operationId": "searchSlots",
        "summary": "Search available last-minute deals",
        "description": "Returns available deals within the next 72 hours. Filter by category, city, price.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "events",
                "wellness",
                "beauty",
                "hospitality",
                "home_services",
                "professional_services"
              ]
            }
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "City name (e.g. 'New York', 'Chicago')"
          },
          {
            "name": "hours_ahead",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 72
            },
            "description": "Only return deals starting within this many hours"
          },
          {
            "name": "max_price",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Maximum price in USD"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available slots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Slot"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/slots/{slot_id}/quote": {
      "get": {
        "operationId": "getSlotQuote",
        "summary": "Check availability and get confirmed price for a specific slot",
        "parameters": [
          {
            "name": "slot_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Slot available"
          },
          "404": {
            "description": "Slot unavailable or expired"
          }
        }
      }
    },
    "/api/book": {
      "post": {
        "operationId": "bookSlot",
        "summary": "Book a slot \u2014 creates Stripe Checkout session",
        "description": "Card is authorized (not charged) until booking is confirmed on source platform. On failure, hold is released automatically.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "slot_id",
                  "customer_name",
                  "customer_email",
                  "customer_phone"
                ],
                "properties": {
                  "slot_id": {
                    "type": "string"
                  },
                  "customer_name": {
                    "type": "string"
                  },
                  "customer_email": {
                    "type": "string",
                    "format": "email"
                  },
                  "customer_phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "checkout_url": {
                      "type": "string",
                      "description": "Redirect user here to complete Stripe payment"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/execute": {
      "post": {
        "operationId": "executeIntent",
        "summary": "Autonomous booking \u2014 provide intent, get booking",
        "description": "Agent-native endpoint. Provide a natural-language intent or structured criteria. System selects the best matching slot and initiates booking automatically.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "intent": {
                    "type": "string",
                    "description": "Natural language, e.g. 'book a yoga class in Seattle tomorrow morning'"
                  },
                  "category": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "budget": {
                    "type": "number"
                  },
                  "hours_ahead": {
                    "type": "integer",
                    "default": 24
                  },
                  "customer": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Best match selected and booking initiated"
          }
        }
      }
    },
    "/api/keys/register": {
      "post": {
        "operationId": "registerApiKey",
        "summary": "Register for a free API key",
        "description": "Register with name and email to receive a free API key. Required as X-API-Key header on POST /api/book and POST /api/execute.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Your name or agent name"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "api_key": {
                      "type": "string",
                      "description": "Use as X-API-Key header"
                    },
                    "instructions": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customers/register": {
      "post": {
        "operationId": "registerCustomer",
        "summary": "Register a customer and save their Stripe payment method",
        "description": "Step 1: Register to get a setup_url. Step 2: Customer visits setup_url once to save card. Step 3: Use stripe_customer_id in /api/customers/{customer_id}/book for fully autonomous bookings with no redirect.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "stripe_customer_id": {
                      "type": "string"
                    },
                    "setup_url": {
                      "type": "string",
                      "description": "Customer visits this once to save their card"
                    },
                    "instructions": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customers/{customer_id}/book": {
      "post": {
        "operationId": "bookWithSavedCard",
        "summary": "Fully autonomous booking using a saved Stripe payment method \u2014 no redirect required",
        "description": "Card is authorized (held), booking is executed on source platform, then captured. If booking fails, hold is cancelled and customer is not charged.",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stripe customer ID (cus_...)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "slot_id",
                  "customer_name",
                  "customer_email",
                  "customer_phone"
                ],
                "properties": {
                  "slot_id": {
                    "type": "string"
                  },
                  "customer_name": {
                    "type": "string"
                  },
                  "customer_email": {
                    "type": "string",
                    "format": "email"
                  },
                  "customer_phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking confirmed and payment captured"
          },
          "402": {
            "description": "Card declined"
          },
          "404": {
            "description": "Slot not found"
          },
          "409": {
            "description": "Already booked"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/webhooks/subscribe": {
      "post": {
        "operationId": "webhookSubscribe",
        "summary": "Subscribe to deal alerts via webhook",
        "description": "Register a callback URL to receive POST notifications when new matching deals are available.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "callback_url"
                ],
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to POST new deals to"
                  },
                  "filters": {
                    "type": "object",
                    "properties": {
                      "city": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      },
                      "max_price": {
                        "type": "number"
                      },
                      "hours_ahead": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "subscription_id": {
                      "type": "string"
                    },
                    "callback_url": {
                      "type": "string"
                    },
                    "filters": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "operationId": "mcpHttp",
        "summary": "MCP-over-HTTP \u2014 call MCP tools without stdio transport",
        "description": "Invoke any MCP tool via a simple HTTP POST. No special transport required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tool"
                ],
                "properties": {
                  "tool": {
                    "type": "string",
                    "enum": [
                      "search_last_minute_slots",
                      "get_slot_details",
                      "book_slot",
                      "get_booking_status"
                    ]
                  },
                  "arguments": {
                    "type": "object",
                    "description": "Tool-specific arguments"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "result": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/execute/best": {
      "post": {
        "operationId": "executeBest",
        "summary": "Goal-oriented decisioning \u2014 tell us what you want, we decide what to book",
        "description": "Unlike /execute/guaranteed (which needs a slot hint), this endpoint optimizes across ALL inventory to find the best option given your goal. Goals: maximize_value (best discount), minimize_wait (soonest slot), maximize_success (highest platform reliability), minimize_price. Returns full ExecutionResult with optional explanation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer"
                ],
                "properties": {
                  "goal": {
                    "type": "string",
                    "enum": [
                      "maximize_value",
                      "minimize_wait",
                      "maximize_success",
                      "minimize_price"
                    ],
                    "default": "maximize_value"
                  },
                  "city": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "budget": {
                    "type": "number"
                  },
                  "hours_ahead": {
                    "type": "integer",
                    "default": 48
                  },
                  "customer": {
                    "type": "object",
                    "required": [
                      "name",
                      "email",
                      "phone"
                    ],
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "phone": {
                        "type": "string"
                      }
                    }
                  },
                  "wallet_id": {
                    "type": "string"
                  },
                  "payment_intent_id": {
                    "type": "string"
                  },
                  "explain": {
                    "type": "boolean",
                    "default": false,
                    "description": "Include reasoning for why this slot was chosen"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Best option found and booked"
          },
          "404": {
            "description": "No matching inventory"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/intent/create": {
      "post": {
        "operationId": "intentCreate",
        "summary": "Create a persistent intent \u2014 the system works on your goal until done",
        "description": "The most powerful way to use LastMinuteDeals as infrastructure. Create an intent and forget it. The system monitors continuously, and when matching slots appear, auto-executes the booking and notifies you via callback_url. Supports three autonomy levels: 'full' (auto-execute), 'notify' (alert you first), 'monitor' (never execute).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "goal"
                ],
                "properties": {
                  "goal": {
                    "type": "string",
                    "enum": [
                      "find_and_book",
                      "monitor_only",
                      "price_alert"
                    ],
                    "description": "find_and_book: auto-execute when match found. monitor_only: notify only. price_alert: notify when price drops below target."
                  },
                  "constraints": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "budget": {
                        "type": "number"
                      },
                      "hours_ahead": {
                        "type": "integer",
                        "default": 48
                      },
                      "allow_alternatives": {
                        "type": "boolean",
                        "default": true
                      },
                      "price_target": {
                        "type": "number",
                        "description": "For price_alert goal: notify when price drops below this"
                      }
                    }
                  },
                  "customer": {
                    "type": "object",
                    "description": "Required for find_and_book",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "phone": {
                        "type": "string"
                      }
                    }
                  },
                  "payment": {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "enum": [
                          "wallet",
                          "stripe_pi"
                        ]
                      },
                      "wallet_id": {
                        "type": "string"
                      }
                    }
                  },
                  "autonomy": {
                    "type": "string",
                    "enum": [
                      "full",
                      "notify",
                      "monitor"
                    ],
                    "default": "full"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "POST status changes here"
                  },
                  "ttl_hours": {
                    "type": "integer",
                    "default": 24,
                    "description": "Auto-expire after this many hours"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Intent created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "intent_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "expires_at": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/intent/{intent_id}": {
      "get": {
        "operationId": "intentGet",
        "summary": "Get intent session status and result",
        "parameters": [
          {
            "name": "intent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Intent session details"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/intent/{intent_id}/execute": {
      "post": {
        "operationId": "intentExecute",
        "summary": "Manually trigger a 'notify' autonomy intent",
        "description": "For intents with autonomy='notify': call this after receiving a slots_available callback to approve and execute the booking.",
        "parameters": [
          {
            "name": "intent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution triggered"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/intent/{intent_id}/cancel": {
      "post": {
        "operationId": "intentCancel",
        "summary": "Cancel an active intent session",
        "parameters": [
          {
            "name": "intent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/intent/list": {
      "get": {
        "operationId": "intentList",
        "summary": "List all your intent sessions",
        "responses": {
          "200": {
            "description": "Array of intent summaries"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/insights/market": {
      "get": {
        "operationId": "insightsMarket",
        "summary": "Market intelligence \u2014 success rates, fill velocity, optimal booking windows",
        "description": "Aggregated data from all booking attempts across all platforms, compounded over time. Includes: platform reliability scores, category/city success rates, fill velocity per category, optimal booking windows, live inventory. This data advantage is not reproducible from a standing start.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter to specific category"
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter to specific city"
          },
          {
            "name": "refresh",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            },
            "description": "Force rebuild from raw data"
          }
        ],
        "responses": {
          "200": {
            "description": "Market snapshot"
          }
        }
      }
    },
    "/insights/platform/{platform_name}": {
      "get": {
        "operationId": "insightsPlatform",
        "summary": "Per-platform reliability and performance stats",
        "parameters": [
          {
            "name": "platform_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Platform performance data"
          }
        }
      }
    },
    "/execute/guaranteed": {
      "post": {
        "operationId": "executeGuaranteed",
        "summary": "Guaranteed booking \u2014 hard outcome, multi-path retry engine",
        "description": "The most powerful booking endpoint. Provide intent + customer + payment method. Engine tries up to 7 strategies (original slot, retry, similar slot, different platform, metro area, alternative category) and returns only when outcome is known. Requires wallet_id (pre-funded, instant) or payment_intent_id (Stripe hold). Returns full attempt log and execution confidence score.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer"
                ],
                "properties": {
                  "slot_id": {
                    "type": "string",
                    "description": "Preferred slot \u2014 engine falls back if unavailable"
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "wellness",
                      "beauty",
                      "hospitality",
                      "entertainment",
                      "home_services",
                      "professional_services"
                    ]
                  },
                  "city": {
                    "type": "string"
                  },
                  "hours_ahead": {
                    "type": "integer",
                    "default": 24
                  },
                  "budget": {
                    "type": "number"
                  },
                  "allow_alternatives": {
                    "type": "boolean",
                    "default": true,
                    "description": "Allow fallback to different category if no match found"
                  },
                  "customer": {
                    "type": "object",
                    "required": [
                      "name",
                      "email",
                      "phone"
                    ],
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "phone": {
                        "type": "string"
                      }
                    }
                  },
                  "wallet_id": {
                    "type": "string",
                    "description": "Pre-funded agent wallet \u2014 fastest, no Stripe roundtrip"
                  },
                  "payment_intent_id": {
                    "type": "string",
                    "description": "Existing Stripe manual-capture PaymentIntent to capture on success"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "booked",
                        "failed",
                        "no_slots"
                      ]
                    },
                    "confirmation": {
                      "type": "string"
                    },
                    "slot_id": {
                      "type": "string"
                    },
                    "service_name": {
                      "type": "string"
                    },
                    "price_charged": {
                      "type": "number"
                    },
                    "attempts": {
                      "type": "integer"
                    },
                    "fallbacks_used": {
                      "type": "integer"
                    },
                    "savings_vs_market": {
                      "type": "number"
                    },
                    "confidence_score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "attempt_log": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No matching slots found"
          },
          "500": {
            "description": "All booking attempts failed"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/wallets/create": {
      "post": {
        "operationId": "createWallet",
        "summary": "Create an agent pre-funded wallet",
        "description": "Create a wallet for instant bookings without per-booking Stripe redirects. Fund it once, book many times. Ideal for high-volume AI agents.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet_id": {
                      "type": "string"
                    },
                    "api_key": {
                      "type": "string"
                    },
                    "balance": {
                      "type": "number"
                    },
                    "fund_instructions": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/wallets/fund": {
      "post": {
        "operationId": "fundWallet",
        "summary": "Generate a Stripe payment link to fund a wallet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "wallet_id",
                  "amount_dollars"
                ],
                "properties": {
                  "wallet_id": {
                    "type": "string"
                  },
                  "amount_dollars": {
                    "type": "number",
                    "minimum": 5,
                    "maximum": 5000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout URL for funding"
          }
        }
      }
    },
    "/api/wallets/{wallet_id}/balance": {
      "get": {
        "operationId": "walletBalance",
        "summary": "Check wallet balance",
        "parameters": [
          {
            "name": "wallet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current balance in dollars"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/watcher/status": {
      "get": {
        "operationId": "watcherStatus",
        "summary": "Real-time watcher health and data freshness",
        "description": "Check how fresh the slot data is. The real-time watcher updates slots every 45s on active platforms. Use this to assess confidence before submitting a guaranteed booking.",
        "responses": {
          "200": {
            "description": "Watcher status per platform",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "running": {
                      "type": "boolean"
                    },
                    "platforms": {
                      "type": "object",
                      "description": "Per-platform status with last_poll timestamp"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "operationId": "publicMetrics",
        "summary": "Public performance metrics \u2014 no auth required",
        "description": "Live system metrics: success rate, bookable slot count, cities covered, data freshness, active intent sessions. Intentionally public \u2014 choosing LastMinuteDeals should be a rational decision based on observable data.",
        "responses": {
          "200": {
            "description": "System metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inventory": {
                      "type": "object",
                      "properties": {
                        "total_slots": {
                          "type": "integer"
                        },
                        "bookable_slots": {
                          "type": "integer"
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "cities_covered": {
                          "type": "integer"
                        },
                        "next_slot_hours": {
                          "type": "number"
                        }
                      }
                    },
                    "performance": {
                      "type": "object",
                      "properties": {
                        "success_rate": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "total_bookings": {
                          "type": "integer"
                        },
                        "fallback_rate": {
                          "type": "number"
                        }
                      }
                    },
                    "infrastructure": {
                      "type": "object",
                      "properties": {
                        "realtime_watcher": {
                          "type": "boolean"
                        },
                        "data_freshness_seconds": {
                          "type": "integer"
                        },
                        "active_intent_sessions": {
                          "type": "integer"
                        },
                        "registered_wallets": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "API health + live slot count",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Register free at POST /api/keys/register"
      }
    },
    "schemas": {
      "Slot": {
        "type": "object",
        "properties": {
          "slot_id": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "service_name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "hours_until_start": {
            "type": "number"
          },
          "our_price": {
            "type": "number"
          },
          "currency": {
            "type": "string",
            "default": "USD"
          },
          "location_city": {
            "type": "string"
          },
          "location_state": {
            "type": "string"
          }
        }
      }
    }
  }
}